/* reset e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.separate{
  margin: 15px 0px;
}
.checked{
background-color: #fe775a;
border-radius: 50%;
color:#ffe8e4;
padding: 0px 2px;
line-height: 20px;
}

.button{
  background-color: #fe775a;
  color: #ffe8e4;
  border-radius: 10px;
  font-weight: bold;
}
.button-big{
  padding: 25px 40px;
}
.button-little{
  padding: 8px 8px;
  line-height: 22px;
  margin-right: 20px;
}
section{
  width: 80%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.shadow-maker{
  box-shadow: 1px 1px 10px #ccc;
  border-radius: 10px;
}
p,span,li{
  font-weight: 600;
}
.high-line-height{
  line-height: 30px;
}
/* /reset e utility class */


/* SPAZIO RISERVATO ALLE VARIE SEZIONI PAGINA PER I MACRO-CAMBIAMENTI */
.section-one{
 width: 100%;
}
.section-one div{
  width: 100%;
  margin: auto;
}
.section-one div:first-child{
  background-color:#f4f9fd;
  border-bottom: 1px solid #ccc;
}
.section-one div:nth-child(2){
  border-top: 1px solid #ccc;
}
.section-two{
  background:url("../img/jumbotron.png"),#FFF3EE;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.section-three{
  background-color: #f4f9fd;
}
.section-four{
  background-color:  #00a9b9;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}
.section-six,.section-footer{
  background-color: #32495b;
}
/* SPAZIO RISERVATO ALLE VARIE SEZIONI PAGINA PER I MACRO-CAMBIAMENTI */



/* creo la parte principale dell'header con i due menu e le nav bar */
.first-menu{
  width: 80%;
  margin: auto;
  background-color: #f4f9fd;
  color:#4c5f70;
  font-size: 16px;
}
.first-menu img {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.first-menu ul{
  line-height: 60px;
}
.first-menu ul:first-child li:first-child{
  border-right: 2px solid #4c5f70;
  margin-right: 15px;
  line-height: 20px;
  padding-right: 5px;
}
.first-menu .fl:first-child li:first-child i{
  margin-right: 15px;
  font-size: 1.5em;
  position: relative;
  top: 3px;
}
.second-menu{
  width: 80%;
  margin: auto;
  background-color: #fff;
  color:#4c5f70;
  font-size: 18px;
  line-height: 40px;
  padding: 10px 0px;
}
.second-menu li,.first-menu li{
  display: inline-block;
  padding-right: 15px;
}
.second-menu .fr img{
  margin-left: 5px;
}
.first-menu ul:nth-child(2) li:nth-child(2){
  background-color: transparent;
  color: #fe775a;
  border: 1px solid  #fe775a;
}
/* /creo la parte principale dell'header con i due menu e le nav bar */

/* creo la parte centrale dell'header con l'immagine e il titolo principale */
header{
  width: 80%;
  height: 695px;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.jumbotron{
  width: 550px;
  color:#4c5f70;
  position: relative;
}
.jumbotron h1{
    padding-top: 60px;
    color:#4c5f70;
    font-size: 45px;
}
.jumbotron p{
  margin: 60px 0px;
  font-size: 14px;
}
.jumbotron p:nth-child(2){
  font-size: 18px;
}
.section-two:before{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  background-color: #afebe4;
  height: 80px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/* /creo la parte centrale dell'header con l'immagine e il titolo principale */

/* creo tutta la sezione del Powerful Alone.Better together con le griglie e sfumature */
.block{
  width:100%;
  background-color: #f4f9fd;
}
.block-first div{
 text-align: center;
 width: 70%;
 margin: auto;
 color:#4c5f70;
 padding-top: 30px;

}
.block-first div h2{
 font-size: 35px;
 padding-top: 20px;
}
.block-first div p{
  font-size: 18px;
  font-weight: 600;
  padding: 30px 20px 50px 20px;
}

.block-second .fl:first-child{
  width: 25%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.container-learn{
  width: 200px;
  text-align:center;
  margin-top: 40px;
  margin-right: 50px;
}
.container-learn img{
 width: 100%;
 margin-bottom: 20px;
}
.block-second .fl:last-child{
  width: 75%;
  height: 400px;
  background-color:#fff;
  border-radius: 10px;
  position: relative;
}
.block-second .fl:last-child div{
  position: relative;
  top: 50px;
  left: 40px;
  color:#4c5f70;
  width: 80%;
}
.block-second .fl:last-child hr{
  width: 400px;
  display: inline-block;
  margin-left: 60px;
}
.block-second .fl:last-child li,.block-second .fl:last-child h2,.block-second .fl:last-child p{
  padding-top: 20px;
}
.block-second .fl:last-child p,.block-second .fl:last-child span{
  font-size: 18px;
}
.block-second .fl:last-child li{
  display: inline-block;
  padding-right: 20px;
}
.block-second .fl:last-child h2{
  font-size: 35px;
}
.block-second .fl:last-child hr{
 position: relative;
 top: 10px;
 border-color: #ccc;
}
.block-second .fl:last-child i{
 margin-right: 10px;
}
.box{
  width: 33.33%;
  height: 100%;
  padding-bottom: 10px;
}
.box-content{
  width: 80%;
  height: 100%;
  background-color: #fff;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box-content li{
  text-align: left;
  list-style-type: none;
}
.box-content ul,.box-content p{
  margin-bottom: 30px;
}
.block-third{
 height: 800px;
 color:#4c5f70;
 margin-top: 50px;
 padding-bottom: 40px;
}
.block-third i{
  margin: 2px 10px;
}
.block-third h2{
  margin-bottom: 35px;
}
.block-third h3{
  padding: 20px 0px;
}
.block-third span{
  position: relative;
  top: 70px;
}
/* /creo tutta la sezione del Powerful Alone.Better together con le griglie e sfumature */

/* creo la sezione del learn and grow,la griglia e le immagini */
.learn-header{
  width: 80%;
  margin: 0px auto 30px auto;
  text-align: center;
  padding: 20px 20px;

}
.learn-header h2{
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}
.learn-header p{
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.learn-block-container{
  width: 100%;
  height: 450px;
  text-align: center;
  padding-bottom: 20px;
}
.learn-block-container span{
  font-size: 25px;
  position: relative;
  bottom: 3px;
}
.learn-block-container h2{
  display: inline-block;
}
.learn-and-grow{
  width: 25%;
  height: 50%;
  border-left: 1px solid #fff;
  float: left;
  padding-top: 20px;
  color: #fff;
}
.learn-and-grow img{
  height: 35px;
  text-align: center;
  vertical-align: middle;
}
.learn-and-grow h2{
  font-size: 35px;
}
.learn-and-grow div,.learn-and-grow img{
  margin: 10px 0px;
}
.learn-2row{
  border-top: 1px solid #fff;
  padding-top: 20px;
}
.first-of-row{
  border-left: none;
}
/* /creo la sezione del learn and grow,la griglia e le immagini */

/* creo la sezione delgi sponsor e l'immagine della donna */
.sponsor-header,.sponsor-content{
  width: 100%;
  background-color: #fff;
}
.sponsor-header .sponsor-box:first-child{
  color:#4c5f70;
  height: 350px;
  width: 35%;
}
.sponsor-header .sponsor-box:first-child h2{
  font-size: 70px;
}
.sponsor-header .sponsor-box:nth-child(2){
  width: 65%;
  height: 300px;
}
.sponsor-content .sponsor-box:first-child{
  width: 50%;
  padding-right:50px;
  height: 500px;
  color:#4c5f70;
}
.sponsor-content .sponsor-box:first-child h2{
 font-size: 40px;
 margin-top: 50px;
}
.sponsor-content .sponsor-box:first-child p{
 padding: 20px 0px;
 margin: 30px 0px;
 font-weight: 600;
}
.sponsor-content .sponsor-box:first-child p:last-child{
 font-weight: 600;
 margin-top: 50px;
}
.sponsor-content .sponsor-box:nth-child(2){
  width: 50%;
}
.sponsor-box:first-child div{
  padding: 80px 100px;
}
.sponsor-box:nth-child(2){
  position: relative;
}
.sponsor-box:nth-child(2) div{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
img[alt="sponsor"]{
  height: 45px;
  margin: 20px 0px 20px 30px;
  text-align: center;
  vertical-align: middle;
}
.womanimage{
  height: 400px;
}
/* creo la sezione delgi sponsor e l'immagine della donna */

/* Sezione finale di sviluppo footer e credits  */
.final-section{
  height: 100%;
  color:#c2cedb;
  background-color:#32495b;
}
.final-section div:first-child{
  width: 100%;
  height: 450px;
}
.final-section div:first-child .fl{
  width: 25%;
  height: 100%;
}
.final-section .fl{
  padding-right: 120px;
}
.final-section div:nth-child(2) li{
  display: inline-block;
}
.final-section li{
  list-style-type: none;
  text-align: left;
  padding: 10px 5px;
}
.list-head{
  color: #fff;
  font-weight: 700;
}
.support-button{
 background-color:#c2cedb;
 color: #32495b;
 border-radius: 10px;
 margin: 15px 0px;
}
.icon-section i{
  padding-right: 30px;
}
.languages{
  width: 40%;
  margin: auto;
}
.languages li{
  padding-left: 25px;
}
footer{
  height: 150px;
  width: 80%;
  border-top: 2px solid #c2cedb;
  margin: auto;
}
footer div:first-child,.list-head,footer div:nth-child(2) li{
  margin-top: 30px;
}
footer div:nth-child(2) li{
  display: inline-block;
  line-height: 40px;
  color: #c2cedb;
  padding-right: 10px;
}
.section-footer img{
  height: 55px;
}
/* Sezione finale di sviluppo footer e credits  */
/* end version checked */

/*<-- =^.^= --> */
