/* reset e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.separate{
  margin: 15px 0px;
}
.checked{
background-color: orange;
border-radius: 50%;
padding: 2px;
font-size: 12px;
line-height: 25px;
}

.button{
  background-color: #fe775a;
  color: #ffe8e4;
  font-weight: bold;
  border-radius: 10px;
}
/* /reset e utility class */

.section-one{
width: 100%;
background-image:url("../img/header-continue.jpg");
background-position: center;
}
.section-one div:first-child{
  width: 80%;
  margin: auto;
}
.section-two{
  background:url("../img/jumbotron.png"),#FFF3EE;
  background-position: right;
  background-size: 2000px 650px;
  background-repeat: no-repeat;
}

.section-three{
  background-color: red;
}
.section-four{
  background-color:  #00a9b9;
  background-image: linear-gradient(to right, #00a9b9 , #00bba8);

}
.section-five{
  background-color: violet;

}
.section-six{
  background-color: orange;
  height: 600px;
}
header{
  width: 80%;
  height: 600px;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.first-menu{
  height: 50px;
  width: 100%;
  margin: auto;
  background-color: #f4f9fd;
  color:#4c5f70;
  font-size: 18px;
  border-bottom: 2px #ccc solid;

}
.first-menu img {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.first-menu ul:first-child{
  font-weight: bold;
}
.first-menu ul{
  position: relative;
  top: 10px;
}
.first-menu ul:first-child li:first-child{
  border-right: 1px solid #4c5f70;
}
.second-menu{
  width: 100%;
  margin: auto;
  background-color: #fff;
  color:#4c5f70;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}
.second-menu ul:first-child img{
  height: 45px;
}
.second-menu li,.first-menu li{
  display: inline-block;
}
.first-menu ul:nth-child(2) li:nth-child(2){
  background-color: transparent;
  color: #fe775a;
  border: 1px solid  #fe775a;
  padding: 4px;
}
.first-menu ul:nth-child(2) li:nth-child(3){
  padding: 4px;
}
.jumbotron{
  height: 400px;
  width: 550px;
  color:#4c5f70;
}
.jumbotron h1{
    padding-top: 60px;
    color:#4c5f70;
    font-size: 45px;
    font-weight: bold;
}
.jumbotron p{
  margin: 40px 0px;
  font-size: 14px;
}
.jumbotron p:nth-child(2){
  font-size: 18px;
}
.jumbotron span{
  padding: 15px;
}

section{
  width: 80%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;

}
.block{
  width:100%;
  background-color: pink;
  border: 1px solid black;
}
.block-first div{
text-align: center;
width: 70%;
height: 400px;
margin: 20px auto;
}
.block-second .fl:first-child{
  width: 35%;
  height: 400px;
  background-color: blue;
  position: relative;
}
.container-learn{
  height: 300px;
  width: 200px;
  text-align:center;
  margin-top: 40px;
  margin-right: 50px;
}
.container-learn img{
width: 100%;
margin-bottom: 20px;
}
.container-learn span{
  padding: 15px;
}
.block-second .fl:last-child{
  width: 65%;
  height: 400px;
  background-color: green;
  position: relative;
}
.block-second .fl:last-child div{
  position: relative;
  top: 50px;
  left: 40px;
  background-color: violet;
  width: 80%;
}
.block-second .fl:last-child hr{
  width: 400px;
  display: inline-block;
  margin-left: 10px;
}
.block-second .fl:last-child li{
  display: inline-block;
}
.box{
  width: 33.33%;
  height: 100%;
  border: 1px black solid;
}
.box-content{
  width: 80%;
  height: 100%;
  background-color: green;
  margin: auto;
  text-align: center;
  padding: 0px 30px;
}
.box-content li{
  text-align: left;
  list-style-type: none;
}
.box-content ul{
  margin-bottom: 30px;
}
.box-content p{
  margin-bottom: 30px;
}
.box-content .button{
padding: 15px;
}
.block-third{
height: 650px;
}
.learn-header{
  width: 100%;
  height: 150px;

  text-align: center;
  padding: 20px 20px;
}
.learn-block-container{
  width: 100%;
  height: 500px;
  text-align: center;
  padding-bottom: 20px;
}
.learn-and-grow{
  width: 25%;
  height: 50%;
  border-left: 1px solid black;
  float: left;
  text-align: center;
  padding-top: 75px;
}
.learn-2row{
  border-top: 1px solid black;
}
.first-of-row{
  border-left: none;
}
.sponsor-header{
  width: 100%;
  background-color: #fff;
}
.sponsor-content{
  width: 100%;
  background-color: #ccc;
}
.sponsor-header .sponsor-box:first-child{
  background-color: red;
  height: 350px;
  width: 35%;
  border: 1px solid black;

}
.sponsor-header .sponsor-box:nth-child(2){
  background-color: blue;
  width: 65%;
  height: 300px;
  border: 1px solid black;

}
.sponsor-content .sponsor-box:first-child{
  background-color: red;
  width: 50%;
  height: 500px;
  border: 1px solid black;

}
.sponsor-content .sponsor-box:nth-child(2){
  background-color: blue;
  width: 50%;
  height: 450px;
  border: 1px solid black;
}
.sponsor-box:first-child div{
  padding: 100px 100px;
}
.sponsor-box:nth-child(2){
  position: relative;
}
.sponsor-box:nth-child(2) div{
  width: 60%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sponsor-box:nth-child(2) img{
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}
.womanimage{
  height: 400px;
  width: 350px;
  float: right;
}
.final-section{
  height: 100%;
  background-color: violet;
}
.final-section div:first-child{
  width: 100%;
  height: 90%;
  background-color: green;
}
.final-section div:first-child .fl{
  width: 25%;
  height: 100%;
  border: 1px black solid;
}
.final-section div:nth-child(2){
  width: 100%;
  height: 10%;
  background-color: pink;
}
.final-section li{
  list-style-type: none;
  text-align: center;
}
